.domain_select__container {
  display: flex;
  position: relative;
  min-height: 44px;
  align-items: flex-end;
  margin: -4px 6px 0;
  padding: 6px;
  border-radius: 0 0 6px 6px;
  background-color: var(--MESH_MAIN_THEME_COLOR);
  will-change: background-color;
  transition: background-color 0.5s ease-in-out;
  & > div {
    display: flex;
    align-items: center;
    &:after {
      content: "";
      position: absolute;
      right: 0;
      border: 5px solid var(--MESH_MAIN_PANEL_TEXT_COLOR);
      width: 0;
      height: 0;
      border-bottom: none;
      border-left-color: transparent;
      border-right-color: transparent;
      pointer-events: none;
    }
  }
  select {
    display: block;
    font-size: 16px;
    width: 100px;
    border: none;
    border-bottom: 1px dashed rgba(170, 170, 170, 0.9);
    background: none;
    color: var(--MESH_MAIN_PANEL_TEXT_COLOR);
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    &:focus:not([data-focus-visible-added]) {
      outline: none;
      &::-moz-focus-inner {
        border: 0;
      }
    }
    option {
      color: black;
    }
  }
}