@mixin active-group {
  background-color: var(--MESH_MAIN_PANEL_TEXT_COLOR);
  color: black;
}

.group_list {
  display: flex;
  flex-wrap: wrap;
  max-width: 280px;
  list-style: none;
  padding: 0;
  margin: 0;
  li {
    margin-bottom: 6px;
    &:not(:last-of-type) {
      margin-right: 8px;
    }
    button {
      padding: 4px;
      font-size: 12px;
      max-width: 100px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      color: var(--MESH_MAIN_PANEL_TEXT_COLOR);
      transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
      will-change: color, background;
      background: none;
      border: 3px solid #bf2c5c;
      border-radius: 6px;
      &:focus:not([data-focus-visible-added]) {
        outline: none;
        &::-moz-focus-inner {
          border: 0;
        }
      }
      &:not(:disabled) {
        cursor: pointer;
        &:hover {
          @include active-group;
        }
      }
      &:disabled {
        opacity: 0.6;
      }
      &.active_group {
        @include active-group;
        cursor: default;
      }
    }
  }
}

.add_group_form {
  width: 160px
}

.error_message {
  opacity: 0.4;
}