@mixin active-tab {
  background-color: var(--MAIN_THEME_COLOR);
  border-radius: 4px 4px 0 0;
}

@mixin active-tab-vertical {
  background-color: var(--MAIN_THEME_COLOR);
  border-radius: 0 4px 4px 0;
}

.panel__nav {
  overflow: hidden;
  display: flex;
  flex: 1;
  padding: 0 20px 0 8px;

  ul {
    padding: 0;
    margin: 0;
    display: flex;
    width: 100%;
    list-style: none;

    li {
      display: flex;
      justify-content: center;
      &:not(:last-of-type) {
        margin-right: 2px;
      }
    }
  }
}

.panel__nav__tab {
  font-size: 10px;
  cursor: pointer;
  color: var(--MAIN_PANEL_TEXT_COLOR);
  background: none;
  border: none;
  padding: 8px 4px;
  will-change: opacity;
  text-align: center;
  transition: opacity 0.3s ease-in-out;
  &:hover {
    &:not(:disabled) {
      @include active-tab
    }
  }
  &:focus:not([data-focus-visible-added]) {
    outline: none;
    &::-moz-focus-inner {
      border: 0;
    }
  }
  &.active_tab {
    @include active-tab;
    cursor: default;
  }
  &:disabled {
    cursor: default;
    opacity: 0.6;
  }
}

.tab_placeholder {
  width: 28px;
  height: 28px;
  margin: 6px 0;
  border-radius: 50%;
  background-color: var(--MAIN_GRAY);
}

.panel__nav_vertical {
  padding: 4px 0;

  ul {
    min-width: 42px;
    margin-right: 12px;
    flex-direction: column;

    .panel__nav__tab {
      width: 100%;
      padding: 6px 0;
      cursor: default;
      margin-bottom: 4px;
      &:hover, &:focus {
        background: none;
      }
      &.active_tab {
        @include active-tab-vertical;
      }
    }
  }
}