.node {
  position: absolute;
  display: flex;
  align-items: center;
  min-width: 20px;
  padding: 4px;
  white-space: nowrap;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #ff973e;
  color: white;
  font-size: 12px;
  will-change: transform, border-color;
  transition: border-color 0.3s ease-in-out;
  backface-visibility: hidden;
  cursor: pointer;
  border: 3px dashed transparent;
  * {
    backface-visibility: hidden;
  }
  & > div {
    position: relative;
  }
}

.mesh__node_fixed {
  border-color: #ff4118;
}