.panel {
  position: fixed;
  top: 62px;
  right: -12px;
  min-width: 62px;
  min-height: 100px;
  z-index: 2000;
  display: flex;
  flex-direction: column;
  padding: 0;
  justify-content: space-between;
  border-radius: 8px;
  background-color: var(--MAIN_BACKGROUND_COLOR);
  border: 4px solid var(--MAIN_THEME_COLOR);
  color: var(--MAIN_PANEL_TEXT_COLOR);
  transform-origin: top right;
}

.panel__header {
  display: flex;
  padding: 4px 0 4px 4px;
  position: relative;
  h1 {
    font-size: 36px;
    margin: 0;
  }
}

.panel__main {
  display: flex;
  flex: 1 auto;
  min-height: 68px;
  padding: 8px;
}

.panel__aside {
  display: flex;
  flex: 1 auto;
}

.selected_group {
  position: relative;
  margin-top: -8px;
  font-size: 14px;
  max-width: 42px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.panel__footer {
  padding: 4px 0 0 4px;
  display: flex;
  align-items: center;
  min-height: 48px;
}

.error_message {
  opacity: 0.4;
}

.close_button {
  position: absolute;
  margin-top: -52px;
  right: 16px;
  background: none;
  border: none;
  cursor: pointer;
  color: var(--MAIN_GRAY);
  will-change: color;
  transition: color 0.2s ease-in-out;
  &:hover {
    color: black;
  }
  &:focus:not([data-focus-visible-added]) {
    outline: none;
    &::-moz-focus-inner {
      border: 0;
    }
  }
}