$screen-sm-max-width: 575.98px;
$screen-md-max-width: 767.98px;
$screen-lg-max-width: 991.98px;
$screen-xl-max-width: 1199.98px;

$screen-sm-min-width: 576px;
$screen-md-min-width: 768px;
$screen-lg-min-width: 992px;
$screen-xl-min-width: 1200px;


$primary-color: #2e31e1 !default;
$light-gray: rgba(255, 255, 255, 0.4);
$danger-color: #fb003f;
$light-orange: rgba(241,214,168, 0.4);
$black: #000;