.app {
  font-family: 'lato', sans-serif;
  --MAIN_THEME_COLOR: #ff6a00;
  --MAIN_BACKGROUND_COLOR: #555;
  --MAIN_GRAY: #ccc;
  --MAIN_PANEL_TEXT_COLOR: #fff;
}

.app * {
  box-sizing: border-box;
}



