.app {
  font-family: 'lato', sans-serif;
}
:root {
  --MESH_DEFAULT_MAIN_THEME_COLOR: #ff6a00;
  --MESH_MAIN_THEME_COLOR: #ff6a00;
  --MESH_MAIN_THEME_TEXT_COLOR: var(--MESH_MAIN_PANEL_TEXT_COLOR);
  --MESH_MAIN_BACKGROUND_COLOR: #555;
  --MESH_MAIN_BACKGROUND_COLOR--DARKEN: #3b3b3b;
  --MESH_MAIN_GRAY: #ccc;
  --MESH_MAIN_PANEL_TEXT_COLOR: #fff;
  --MESH_MAIN_MAP_BACKGROUND_COLOR: #f4f4f4;
  --MESH_DISABLED_FIELD_COLOR: #888;
}

.app * {
  box-sizing: border-box;
}



