body {
  display: flex;
  justify-content: center;
  background-color: #F8F8F8;
  position: relative;
}

.net-connection {
  position: fixed;
  top: 20px;
  left: 100px;
  padding: 4px 20px;
  background-color: #55c63c;
  color: white;
  box-sizing: border-box;
  width: 120px;
  border-radius: 16px;
  text-align: center;
  transition: background-color ease-in-out 0.3s;
  will-change: background-color;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.3);
  &.net-connection--off {
    background-color: #c61719;
  }
}

.node > :not(text) {
  stroke-width: 4px;
}

.graph-area {
  border: 1px solid #e5e5e5;
  background-color: #fff;
  border-radius: 12px;
  margin-top: 100px;
  box-shadow: 0 2px 20px 0 rgba(0,0,0,0.05);
}

.node > text {
  pointer-events: none;
  font-family: sans-serif;
  font-weight: bold;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.link, .drag_link {
  stroke-width: 6px;
  opacity: 0.5;
}

.drag_link {
  stroke: gray;
  stroke-linecap: round;
}

.selected > :not(text) {
  stroke-width: 8px;
}

.selected.link {
  stroke-width: 14px;
}

.overlay {
  fill: transparent;
}

.toolbar {
  position: absolute;
  top: 12px;
  width: 240px;
  text-align: center;
}

.tool:not(:last-child) {
  margin-right: 10px;
}

.tool {
  fill: #a3a4c3;
  cursor: pointer;
  &.active {
    fill: #b52d0c;
  }
}

.library {
  border: 2px solid #a3a4c3;
  border-radius: 6px;
  background: rgba(255, 255, 255, 0.8);
  padding: 6px;
  margin-top: 10px;
  svg {
    cursor: pointer;
    &:not(:last-child) {
      padding-right: 6px;
    }
  }
}